.App {
  text-align: center;
  margin-top: 70px ;
}
@media(max-width: 768px){

  .App{
 margin-top: 150px;
  }
}

h1,
h2,
h3 {
  margin: 0;
  font-family: 'Roboto Slab', serif;
}
h2{
  font-family: 'Roboto', sans-serif;
  font-style: italic
}

body {
  background-color: darkslategray;
}
p{
  color: #fff;
  font-family: 'Roboto', sans-serif;

}
span{
  margin-left: 10px;
  color: black;
  font-size: 20px;
}
@media (max-width: 768px){

  span{
    margin-left: 10px;
    color: black;
    font-size: 15px;
  }
}



/*-----------------sun------------*/
.wrap-sun {
	width: 500px;
	height: 100vh;
	/*border: 1px solid black;*/
	margin: 0 auto;
	display:flex;
	justify-content: center;
	align-items: center;
	background: lightblue;
	
	
}
@keyframes loader-sun {
		0% {transform:rotate(0deg)}
		50%{transform:rotate(180deg)}
		100%{transform:rotate(360deg)}
}

@keyframes sun-span-1 {
		0% {transform:scale(1) rotate(0deg);}
		50%{transform:scale(1.4) rotate(0deg);}
		100%{transform:scale(1) rotate(0deg);}
}
@keyframes sun-span-2 {
		0% {transform:scale(1.4) rotate(22.5deg);}
		50%{transform:scale(1) rotate(22.5deg);}
		100%{transform:scale(1.4) rotate(22.5deg);}
}

@keyframes sun-span-3 {
		0% {transform:scale(1) rotate(45deg);}
		50%{transform:scale(1.4) rotate(45deg);}
		100%{transform:scale(1) rotate(45deg);}
}
@keyframes sun-span-4 {
		0% {transform:scale(1.4) rotate(67.5deg);}
		50%{transform:scale(1) rotate(67.5deg);}
		100%{transform:scale(1.4) rotate(67.5deg);}
}
@keyframes sun-span-5 {
		0% {transform:scale(1) rotate(90deg);}
		50%{transform:scale(1.4) rotate(90deg);}
		100%{transform:scale(1) rotate(90deg);}
}

@keyframes sun-span-6 {
		0% {transform:scale(1.4) rotate(112.5deg);}
		50%{transform:scale(1) rotate(112.5deg);}
		100%{transform:scale(1.4) rotate(112.5deg);}
}
@keyframes sun-span-7 {
		0% {transform:scale(1) rotate(135deg);}
		50%{transform:scale(1.4) rotate(135deg);}
		100%{transform:scale(1) rotate(135deg);}
}
@keyframes sun-span-8 {
		0% {transform:scale(1.4) rotate(157.5deg);}
		50%{transform:scale(1) rotate(157.5deg);}
		100%{transform:scale(1.4) rotate(157.5deg);}
}



.loader-sun {
	width: 300px;
	height: 300px;
	display:flex;
	justify-content: center;
	align-items: center;
	position:relative;
	/*border: 1px solid red;*/
	animation: loader-sun 5s infinite linear;
	z-index:1;
}
.circle {
	width:100px;
	height:100px;
	background:yellow;
	border-radius:50px;
	text-align:center;
	z-index:2;
}
.loader-sun span {
	width: 200px;
	position: absolute;
	top: 50%;
	left:50%;
	height: 5px;
	background: yellow;
	/*border: 1px solid red;*/
	box-shadow: 0px 0px 58px 0px rgba(241,255,46,1);
	animation: span-sun 2s infinite linear;
}
.loader-sun span:first-child {
	animation: sun-span-1 2s infinite linear;
	
}
.loader-sun span:nth-child(2) {
	animation: sun-span-2 2s infinite linear;
	
}
.loader-sun span:nth-child(3) {
	animation: sun-span-3 2s infinite linear;
	}

.loader-sun span:nth-child(4){
	animation: sun-span-4 2s infinite linear;
	
}
.loader-sun span:nth-child(5) {
	animation: sun-span-5 2s infinite linear;
	
}
.loader-sun span:nth-child(6) {
	animation: sun-span-6 2s infinite linear;
	
}
.loader-sun span:nth-child(7) {
	animation: sun-span-7 2s infinite linear;
	
}
.loader-sun span:nth-child(8) {
	animation: sun-span-8 2s infinite linear;
	
}
/*-----------------cloud-----*/

@keyframes cloud-fly {
		0% {transform:translateX(0vw)}
		50%{transform:translateX(50vw)}
		100%{transform:translateX(100vw)}
}
.wrap-cloud {
	width: 90%;
	height: 100vh;
	border: 1px solid black;
	margin: 0 auto;
	position:relative;
	overflow:hidden;
	background: lightblue;
}
	
.cloud {
	position:absolute;
	width: 200px;
	height: 120px;
	left:0;
	top:5px;
	/*border: 1px solid black;*/
	animation: cloud-fly 8s infinite linear;
	z-index:3;

	
}
.cld-main{
	position:absolute;
	width:100%;
	left:0;
	bottom:5px;
	border-radius:40px;
	height:60px;
	/*border: 1px solid blue;*/
	background: linear-gradient(rgba(255,255,255,1), #9198e5);
	z-index: 1;
	box-shadow: 0px 10px 26px 0px rgba(51,9,222,0.21);
}
.cld-circle {
	width:70px;
	height:70px;
	border-radius:50px;
	position:absolute;
	left:65px;
	bottom: 35px;
	/*border: 1px solid blue;*/
	background: rgba(255,255,255);
	z-index: 0;
	box-shadow: 0px -10px 26px 0px rgba(51,9,222,0.21);
}
.cld-circle-small-1 {
	width:50px;
	height:50px;
	border-radius:50px;
	position:absolute;
	left:25px;
	bottom: 35px;
	/*border: 1px solid orange;*/
	background: rgba(255,255,255);
	box-shadow: 0px -10px 26px 0px rgba(51,9,222,0.21);
	z-index: -1;
}
.cld-circle-small-2 {
	width:50px;
	height:50px;
	border-radius:50px;
	position:absolute;
	right:25px;
	bottom: 35px;
	/*border: 1px solid green;*/
	background: rgba(255,255,255);
	z-index: -1;
	box-shadow: 0px -10px 26px 0px rgba(51,9,222,0.21);
}
.cloud_2 {
	position:absolute;
	width: 200px;
	height: 120px;
	left:0;
	bottom:0;
	/*border: 1px solid black;*/
	animation: cloud-fly 8s infinite linear;
	animation-delay: 2s;
	overflow:hidden;
	z-index:3;
}